@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}


.docs-embed {
    -webkit-font-smoothing: antialiased;
    font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-right: 0;
    &__element {
        position: relative;
        padding: 4px 10px 6px 20px;
        max-width: 370px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100vw;
        }
        &:before {
            display: block;
            top: 0;
            height: 1px;
            background-color: #dcdcdc;
        }
        &:after {
            display: none;
            top: -8px;
            height: 3px;
            border-top: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
        }


        .link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &:hover ~ .button {
                .button__label {
                    transform: translateX(1px);
                }
                .button__icon {
                    transform: scale(1.09);
                    svg rect {
                        fill: #F3C100;
                    }
                }
            }
        }

        .headline,
        .more {
            font-size: 20px;
            line-height: 24px;
        }
        .headline {
            font-weight: 700;
            color: #052962;
        }
        .more {
            font-weight: 300;
            color: #121212;
        }
        .button {
            margin-top: 8px;
            margin-left: -2px;
            &__icon,
            &__label {
                display: inline-block;
                vertical-align: middle;
                transition: all 300ms ease-out;
            }
            &__label {
                padding-left: 3px;
                padding-bottom: 4px;
                color: #052962;
                font-family: 'Guardian Text Sans Web', sans-serif;
                font-size: 15px;
                transform: translateX(0);
            }
        }

        &:nth-child(1) {
            margin-top: 11px;
            &:after {
                display: block;
            }
        }
        &:nth-child(2) {
            margin-top: 12px;
        }
    }
}

