<div class='docs-embed'>

  <div class='docs-embed__element docs-embed__events'>
    <div class='headline'>Join the online event</div>
    <div class='more'>Watch the film in your own time, and then sign up for a livestreamed discussion</div>
    <div class='button'>
      <span class='button__icon'>
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="36" height="36" rx="18" fill="#FFE500" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.033 18.823h16.575l-6.5 7.779.845.845 9.035-9.057v-.867l-9.035-9.056-.845.845 6.5 7.778H8.033v1.733z" fill="#052962" />
        </svg>
      </span>
      <span class='button__label'>View events</span>
    </div>
  </div>

  <div class='docs-embed__element docs-embed__newsletter'>
    <div class='headline'>Documentaries newsletter</div>
    <div class='more'>Keep up with our latest releases, live events and online film suggestions</div>
    <div class='button'>
      <span class='button__icon'>
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="36" height="36" rx="18" fill="#FFE500" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.033 18.823h16.575l-6.5 7.779.845.845 9.035-9.057v-.867l-9.035-9.056-.845.845 6.5 7.778H8.033v1.733z" fill="#052962" />
        </svg>
      </span>
      <span class='button__label'>Sign up</span>
    </div>
  </div>

</div>
